<!--<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>student-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item [routerLink]="['/student-details']" *ngFor="let student of students">
            <ion-label>
                <h2>ID: {{ student.nom }}</h2>
                <h2>Name: {{ student.prenom }}</h2>
                <h2>Age: {{ student.niveau }}</h2>
            </ion-label>
        </ion-item>
    </ion-list>-->

    <!-- student-list.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Liste des étudiants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let student of students" [routerLink]="['/student-details', student.id]">
      <p>{{ student.nom }}</p>
      <p>{{ student.prenom }}</p>
      <p>{{ student.niveau }}</p>
    </ion-item>
  </ion-list>
</ion-content>
