
<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      Détails de l'étudiant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="student">

    <ion-card-header>
      <ion-card-title>{{ student.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Matricule: {{ student?.id }}</p>
        <p>Nom: {{ student?.nom }}</p>
          <p>Prénom: {{ student?.prenom }}</p>
            <p>Niveau: {{ student?.niveau }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Notes
    </ion-list-header>

    <ion-item *ngFor="let mark of mark">
      <ion-label>
        <h2>{{ mark.course }}</h2>
        <p>Semestre: {{ mark.semester }}</p>
        <p>Note: {{ mark.score }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

      <ion-list>
        <ion-list-header>
          Moyenne par semestre
        </ion-list-header>

        <ion-item *ngFor="let semester of averageBySemester | keyvalue">
          <ion-label>
            <h2>{{ semester.key }}</h2>
            <p>Moyenne: {{ semester.value }}</p>
          </ion-label>
        </ion-item>
      </ion-list>


<ion-button (click)="deleteStudent()">Supprimer l'étudiant</ion-button>

<ion-button (click)="goToEditStudentPage()">Modifier l'étudiant</ion-button>
  <ion-button (click)="goToAddMarkPage()">Ajouter une note</ion-button>
</ion-content> -->


<!--<ion-header>
  <ion-toolbar>
    <ion-title>Détails de l'étudiant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="student">
    <ion-card-header>
      <ion-card-title>{{ student.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <p>Matricule: {{ student?.id }}</p>
          <p>Nom: {{ student?.nom }}</p>
            <p>Prénom: {{ student?.prenom }}</p>
              <p>Niveau: {{ student?.niveau }}</p>


      <ion-list>
        <ion-list-header>
          Notes
        </ion-list-header>

        <ion-item *ngFor="let mark of mark">
          <ion-label>
            <h2>{{ mark.course }}</h2>
            <p>Semestre: {{ mark.semester }}</p>
            <p>Note: {{ mark.score }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Moyenne par semestre
        </ion-list-header>

        <ion-item *ngFor="let semester of averageBySemester | keyvalue">
          <ion-label>
            <h2>{{ semester.key }}</h2>
            <p>Moyenne: {{ semester.value }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="deleteStudent()">Supprimer l'étudiant</ion-button>

<ion-button (click)="goToEditStudentPage()">Modifier l'étudiant</ion-button>
  <ion-button (click)="goToAddMarkPage()">Ajouter une note</ion-button>
</ion-content>-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Détails de l'étudiant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="student">

    <ion-card-header>
      <ion-card-title>{{ student.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Matricule: {{ student?.id }}</p>
        <p>Nom: {{ student?.nom }}</p>
          <p>Prénom: {{ student?.prenom }}</p>
            <p>Niveau: {{ student?.niveau }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Notes
    </ion-list-header>

    <ion-item *ngFor="let mark of mark">
      <ion-label>
        <h2>Matiere:{{ mark.course }}</h2>
        <p>Semestre: {{ mark.semester }}</p>
        <p>Note: {{ mark.score }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

      <ion-list>
        <ion-list-header>
          Moyenne par semestre
        </ion-list-header>

        <ion-item *ngFor="let semester of averageBySemester | keyvalue">
          <ion-label>
            <h2>{{ semester.key }}</h2>
            <p>Moyenne: {{ semester.value }}</p>
          </ion-label>
        </ion-item>
      </ion-list>


<ion-button (click)="deleteStudent()">Supprimer l'étudiant</ion-button>

<ion-button (click)="goToEditStudentPage()">Modifier l'étudiant</ion-button>
  <ion-button (click)="goToAddMarkPage()">Ajouter une note</ion-button>
</ion-content>
